.portfolio_header{
    position: relative;
    color: #171717;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 3.125rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    text-shadow: #2c2c2c 1px 0,#2c2c2c 1px 1px,#2c2c2c 0 1px,#2c2c2c -1px 1px,#2c2c2c -1px 0,#2c2c2c -1px -1px,#2c2c2c 0 -1px,#2c2c2c 1px -1px;
    margin-top: 3.125rem;

    @media (min-width:768px) {
        font-size: 4.375rem;
        margin-top: 0;
    }
}

.portfolio_header::after{
    position: absolute;
    content: 'PORTFOLIO';
    top: 50%;
    right: 0;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;

    @media (min-width:768px) {
        font-size:3.4375rem;
    }
}

.portfolio_header::before{
    content: '';
    display: block;
    width: 50%;
    height: 45%;
    background-color: #242424;
    position: absolute;
    bottom: -22%;
    right: -5%;
    z-index: -5;
}


.portfolio_slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    @media screen and (min-width: 768px){
        justify-content: center;
    }

    @media screen and (min-width: 1200px){
        align-items: start;
        justify-content: center;
    }
}

.portfolio_line{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    height: 400px;
    width: 2px;
    background: #fff;
    display: none;

    @media screen and (min-width:1200px){
        display: block;
    }
}
